.menu_bg{
    width: 100%;
    background-color: darkgray;
    border-bottom: 1px solid  rgb(65, 64, 64);
    -o-border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
}
.menu_bg img {
    height: 28px;
    width: 200px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.19), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 1px solid beige;
    -o-border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    background-color: white;
    margin-top: -10px;
}

.Menu_options {
    font-size: 14px;
    text-decoration: none;
    color: black;
    margin-left: 8px;
    font-family: "Roboto", sans-serif;
    background-color: white;
    -o-border-radius: 5px;
    padding: 2px 6px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid beige;
}

/* responsive part start */


@media(max-width:575px) {

    .navbar-toggler:focus {
        box-shadow: 0 0 transparent !important;
    }


}

@media(min-width:576px) and (max-width:767px) {
    .navbar-toggler:focus {
        box-shadow: 0 0 transparent !important;
    }
}

@media(min-width:768px) and (max-width:991px) {
    .navbar-toggler:focus {
        box-shadow: 0 0 transparent !important;
    }
}

@media(min-width:992px) and (max-width:1199px) {
    .navbar-toggler:focus {
        box-shadow: 0 0 transparent !important;
    }
}

@media(min-width:1200px) and (max-width:1399px) {}

@media(min-width:1400px) {}

/* responsive part end */